@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #1c1c25;
    font-family: Arial, sans-serif;
    padding: 20px;
}

html, body {
    height: 100%;
  }
  section{
    position: absolute;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  section::before,
  .card1::before{
      position: absolute;
      width: 200px;
      height: 200px;
      border-radius: 50% 20px;
      
  }
  
  
  
  .card1::before{
      bottom:2%;
      left: 10%;
      background: linear-gradient(#0098f0, #0457d3);
  }
  .card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-radius: 30px;
      padding: 10px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      width: 900px;
      height: 480px;
      box-shadow: 0 15px 35px rgba(0,0,0,0.5);
      background-color: rgba(255,255,255,0.05);
      filter: blur(0.2px);
  }
  .left-container {
      flex: 1;
      max-width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height:100%;
      padding: 10px;
      margin: 30px;
      border-right: 1px solid #e4e4e4;
    }
    .resume-hover {
      width: 160px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
      cursor: pointer;
      margin: 20px;
      height: 55px;
      text-align: center;
      border: none;
      background-size: 300% 100%;
      border-radius: 50px;
      -o-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
    }
    
    .resume-hover:hover {
      background-position: 100% 0;
      moz-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }
    
    .resume-hover:focus {
      outline: none;
    }
    
    .resume-hover.resume {
      background-image: linear-gradient(
          to right,
          #6253e1,
          #852d91,
          #a3a1ff,
          #f24645
        );
      box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
    }
    
    .right-container {
      flex: 1;
      max-width:70%;
      height:430px;
      padding: 10px;
      margin: 20px;
      border-radius:30px;
    }
    @media only screen and (max-width: 860px) {
      .card
       {
       flex-direction: column;
       margin: 10px;
       height: auto;
       width: 100%;
      }
      .left-container{
          flex: 1;
          max-width:100%; 
          border:none;
      }
   section::before{
          top:45%;
          left:51%;
      }
    }
    @media only screen and (max-width: 900px) {
      .card
       {
       flex-direction: column;
       margin: 10px;
      }
      .left-container{
          flex: 1;
          max-width:100%; 
      }
      .card1::before{
          bottom: -14%;
          left: 1%;
      }
  
  
    }
    img {
      border: double 5px transparent;
      border-radius: 50%;
      background-image: linear-gradient(white, white), 
                        linear-gradient(to right, #ee00ff,#fbff00);
      background-origin: border-box;
      background-clip: content-box, border-box;
      width: 200px;
      height: 200px;
      max-width: 200px;
      margin-top: 70px;
    }
    
    h2 {
      font-size: 24px;
      margin-bottom: 5px;
    }
    h3 {
      text-align: center;
      font-size: 24px;
      margin-bottom: 5px;
    }
    .gradienttext{
      background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 100%);
      color: transparent;
      -webkit-background-clip: text;
    }
    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .social-icons a {
      background-image: linear-gradient(to right, #00c6ff 0%, #0072ff 100%);
      display: inline-block;
      margin-right: 14px;
      padding:7px ;
      width:30px;
      height:30px;
      border-radius:30px;
      text-align: center;
    }
    
    .social-icons i {
      font-size: 24px;
      color:rgba(255, 255, 255, .7);
      transition: all 0.2s ease;
    }
    
    .social-icons i:hover {
      color: rgb(34, 34, 24);
    }

    p {
      font-size: 18px;
      margin-bottom: 20px;
      color:aliceblue
    }
    
    table {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 280px;
      border-collapse: collapse;
    }
    
    td {
      
      padding: 10px;
      border: none;
      border-radius: 20px;
      color: white;
    }
    
    td:first-child {
      font-weight: bold;
    }
    .credit a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
  }
  
  .credit {
      color: #fff;
    text-align: center;
    margin-top: 10px;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
  }